footer {
    background-color: $grey;
    font-family: $primary-font;
    color:$white-family;
    
}

footer p {
    width:60%;
    margin: 0 auto;
    padding:20px 0;
    text-align: center; 
    transition: all 0.7s;
}

footer p:hover {

    color:$orange;
    font-size: 18px;
}

@media (max-width: 768px){

    footer {
        
        font-size: 14px;
    }

}

