//variables for color

$grey: #4F4F4F;
$black: #2C2C2C;
$orange: #F6A823;
$accent:#05AFC1;
$white-family:#F0EFED;
$red:#A82706;
$dark-grey:#285E64;

//variables for font

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lora', serif;




